fastapi
uvicorn
python-multipart
pydantic
PyPDF2
groq
python-dotenv
langchain
langchain-community
faiss-cpu
sentence-transformers
httpx
flask-restx
langgraph
langchain-groq
langchain-core

# MongoDB Integration
pymongo
motor
bcrypt
dnspython